
*
{
  margin-left:0px;
}

body
{
    background-color:#aac0b4;
}

.bd
{
  height:780px;
  width:1300px;
  margin-left:280px;
  /* border:1px solid white;*/

}

.bg {
    width: 450px;
    height: 450px;
    border: 8px solid white;
    border-radius: 50%;
    margin-left: 350px;
    margin-top: 30px;
    position: relative;
}

.img1
{
    /*
    margin-left:270px;
    margin-top:-455px; */
    position:absolute;
}




.sbg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left:-110px; /* Adjusted to move the center of the small circle */
    margin-top: -170px; /* Positioned to align with the boundary of the large circle */
    position: relative;
    box-sizing: border-box;
}


.x1
{
    width:80px;
    height:80px;
    border:2px solid black;
    border-radius:50%;
    margin:1px 0px -40px 80px;
    border:30px solid;
    border-color:#677d71 ;



}

/*

.x2
{
    position:relative;
    width:90px;
    height:90px;
    border:solid 2px black;
    border-radius:50%;
    margin-top:10px;
    margin-left:13px;
    margin-bottom:5px;
} */


.div1
{
    width:150px;
    height:150px;
    border:1px solid black;
    margin:100px 0px 0px 150px;
}



.y1
{
  width:150px;
  height:150px;
  margin-left:350px;
  margin-top:-80px;
  border:solid 1px black;
  border-radius:50%;
  border:30px solid #ccdcd2;
}

/*
.y2
{
  position:relative;
  width:160px;
  height:160px;
  margin-left:8px;
  margin-top:7px;
  border:solid 1px black;
  border-radius:50%;
}*/


.rec {
  width: 500px;
  height: 500px;
  margin-left: 650px;
  margin-top: -550px; /* Originally 0px; decreased by 100px */
  margin-bottom: 0px;
  border: 1px solid black;
  border-radius:60px;
  position: relative;
  background-color:#ffffff;
}


.box
{
  width:300px;
  height:50px;
  border:solid 5px black;
  margin:15px auto auto auto;
}

.head
{
  margin:10px auto auto 160px;
  font-family:Sans-serif,Verdana;
  font-size:auto;
}



.rec p
{
  font-size:24px;
  text-align:center;
}